// out: ../css/style.css, compress: true

@import "colors.less";
@import "responsive-text.less";
@import "lightbox.less";
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto+Slab|Open+Sans');

.display-font {
  font-family: 'Luckiest Guy', cursive;
  // font-family: 'Roboto Slab', sans-serif;
}
.necro-font {
  font-family: 'Roboto Slab', sans-serif;
}
.basic-font{
    font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: @necro-grey;
  // font-family: monospace;
}

.w-90 {
  width: 90%;
  padding: 2px 5px;
  margin: auto;
  /* border-radius: 5px; */
}

header .big-heading {
  color: @necro-red;
  text-align: center;
  .display-font;
  .heading-font-scale-3xl;
  font-weight: bold;
}

footer {
  color: @necro-blue;
  text-align: center;
  .necro-font;
}

.step-card {
  background-color: @necro-blue;
  color: @necro-black;
  border-radius: 5px;
  padding: 0;
}

.heading {
  .display-font;
  .heading-font-scale-lg;
  background-color: lighten(@necro-blue, 20%);
  box-shadow: 0px 2px 3px #2d6e53;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}

.step-list {
  .necro-font;
  h3 {
    // font-weight: bold;
  }
  li {
    margin-bottom: 5px;
  }
}

.img-wrapper {
  position: relative;
  width: 350px;
  background-color: @necro-grey;
  border: solid @necro-grey 3px;

  .image-tooltip {
    visibility: hidden;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: fadeout(@necro-red, 10%);
    color: white;
    font-size: @font-size-sm;
    text-align: center;

    p {
      margin: 0;
    }
  }
  &:hover {
    cursor: pointer;
    .image-tooltip {
      visibility: visible;
    }
  }
  img {
    width: 100%;
    display: block;
    margin: auto;
  }
}

.note {
  .basic-font;
  font-size: @font-size-sm;
  padding: 3px;
  background-color: darken(@necro-blue, 10%);
  border-radius: 3px;
}

a {
  color: @necro-red;
  font-weight: bold;
}
