// out: ../css/style.css, compress: true

@import "colors.less";
@import "responsive-text.less";
@import "lightbox.less";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans');

.necro-font {
  font-family: 'Roboto Slab', sans-serif;
}
.basic-font{
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: @necro-grey;
  .necro-font;
  word-wrap:break-word;
}

.w-90 {
  width: 90%;
  margin: auto;
}

header {
  display: flex;
  position: relative;
  .big-heading {
    width: 80%;
    color: @necro-red;
    text-align: center;
    .heading-font-scale-3xl;
    font-weight: bold;
    text-shadow: 0px 0px 10px @necro-black;

    @media screen and (max-width: 900px) {
      width: 100%;
      z-index: 1;
    }
  }
  span {
    .heading-font-scale-lg;
    display: block;
  }
}

.header-image {
  margin: auto;
  width: 20%;
  @media screen and (max-width: 900px) {
    position: absolute;
    left: 0;
    bottom: 00%;
    z-index: 0;
    filter: brightness(75%);
    object-fit: contain;

    &:nth-of-type(2) {
      left: 80%;
    }
  }
  img {
    width: 100%;
    border-radius: 100%;
  }
}

footer {
  color: @necro-red;
  text-align: center;
}

.step-card {
  background-color: @necro-blue;
  color: @necro-black;
  border-radius: 5px;
  padding: 0;
  .step-content {
    padding: 5px 3%;
  }
  h3 {
    .heading-font-scale-lg;
  }
  p {
    .heading-font-scale-lg;
  }
}
.welcome {
  .foreword {
    padding: 0 3% 5px 3%;
  }
}

.heading {
  .heading-font-scale-lg;
  background-color: lighten(@necro-blue, 20%);
  box-shadow: 0px 2px 3px #2d6e53;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}

.step-list {
  li {
    margin-bottom: 5px;
  }
}

.img-wrapper {
  position: relative;
  width: 350px;
  background-color: @necro-grey;
  border: solid @necro-grey 3px;
  @media screen and (max-width: 600px) {
    width: 80%;
  }

  .image-tooltip {
    visibility: hidden;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: fadeout(@necro-red, 10%);
    color: white;
    font-size: @font-size-sm;
    text-align: center;

    p {
      margin: 0;
    }
  }
  &:hover {
    cursor: pointer;
    .image-tooltip {
      visibility: visible;
    }
  }
  img {
    width: 100%;
    display: block;
    margin: auto;
  }
}

.note {
  .basic-font;
  .note-font-scale;
  font-size: @font-size-sm;
  padding: 3px;
  background-color: darken(@necro-blue, 10%);
  border-radius: 3px;
}

a {
  color: @necro-red;
  font-weight: bold;
}

.attention {
  color: @necro-red;
}
