/*
  Necro Blue:     #3dd7e8;
  Necro RedBlack: #282020;
*/

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #282020;
  font-family: monospace;
}

.w-90 {
  width: 90%;
  padding: 2px 5px;
  margin: auto;
  /* border-radius: 5px; */
}

.step {
  background-color: #3dd7e8;
  color: black;
  border-radius: 5px;
  padding: 0 5px;
}

.note {
  font-size: 12px;
  padding: 0;
  /* margin: 0; */
}

header {
  color: #c41c0d;
  text-align: center;
}
.header-div {
  /* background-color: black; */
  /* border-radius: 5px; */
  font-size: 20px;
}

section {
  font-size: 18px;
  color: white;
}

li {
  margin-bottom: 5px;
}

footer {
  color: #3dd7e8;
  text-align: center;
}
